@font-face 
  font-family: 'Gilroy-Bold'
  src: url('../fonts/gilroy/Gilroy-Bold.ttf') format('truetype')
  font-weight: 700
  font-style: normal


@font-face 
  font-family: 'Gilroy-Semibold'
  src: url('../fonts/gilroy/Gilroy-Semibold.ttf') format('truetype')
  font-weight: 600
  font-style: normal


@font-face 
  font-family: 'Gilroy-Medium'
  src: url('../fonts/gilroy/Gilroy-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal


@font-face 
  font-family: 'Gilroy-Regular'
  src: url('../fonts/gilroy/Gilroy-Regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal

@font-face 
  font-family: 'Inter-Bold'
  src: url('../fonts/Inter/Inter-Bold.ttf') format('truetype')
  font-weight: 700
  font-style: normal


@font-face 
  font-family: 'Inter-Semibold'
  src: url('../fonts/Inter/Inter-Semibold.ttf') format('truetype')
  font-weight: 600
  font-style: normal


@font-face 
  font-family: 'Inter-Medium'
  src: url('../fonts/Inter/Inter-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal


@font-face 
  font-family: 'Inter-Regular'
  src: url('../fonts/Inter/Inter-Regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal

@font-face 
  font-family: 'DM-Sans-Regular'
  src: url('../fonts/DM-sans/DMSans-Regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal


$Gilroy-Bold: 'Gilroy-Bold', sans-serif
$Gilroy-Semibold: 'Gilroy-Semibold', sans-serif
$Gilroy-Medium: 'Gilroy-Medium', sans-serif
$Gilroy-Regular: 'Gilroy-Regular', sans-serif

$Inter-Bold: 'Inter-Bold', sans-serif
$Inter-Semibold: 'Inter-Semibold', sans-serif
$Inter-Medium: 'Inter-Medium', sans-serif
$Inter-Regular: 'Inter-Regular', sans-serif

$DM-Sans-Regular: 'DM-Sans-Regular', sans-serif